html{
	scroll-behavior: smooth;
}
body {
	margin: 110px 0px 0px 0px;
	padding: 0;
	}
iframe {
	border:none;
}

nav{
	width: 100%;
	height: 110px;
	position: fixed;
	left:0;
	top: 0;
	text-align: center;
	overflow: hidden;
	background-color: black;
	z-index: 1;
	
}
nav img {
	float:left;
	margin-top: -80px;
		
}
@media screen and (max-width: 768px)
{
	img{
		display :none;
	}
	
}

nav ul {
	list-style: none;
	padding:0;
	margin-right: 5%;
	text-align:right;


}
li{
	display:inline-block;
	margin-right: 3%;

}
nav a{	
	
	text-decoration: none;
	line-height: 80px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-family: arial;
	font-size: 130%;
	

	

}

nav a:hover{
	
	font-size: 140%;
	padding-bottom: 5px;
	border-bottom: solid white;

	transition-duration:0.3s;
	z-index: 1;

	
}

.page{
	font-family:'Montserrat';
	min-height: 100vh;
	width: 100%;	
}

#section1 .page{

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #ffffff;
	background-size:100% 100vh;
	background-image:url(../img/bass_background.jpg);
}

#section1 h1 {

	font-size: 700%; 
}


#section1 p {
text-align: center;
margin: 0px 32% 5%;
font-size: 130%;
}

#section1 a{
font-family:'Montserrat';
	color: #000000;
	text-decoration: none;
	border:solid black;
	padding: 1%;
	background-color: white;
	font-weight: bold;

}

/*---------------------------------------------------------------------*/
#section2 .page{
		
	background-size:100% 100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	background-image:url(../img/james.jpg);
	background-size: cover;
	
	
}
#section2 h2 {
	font-size: 400%;
	text-align:center; }


#section2 h2 span, #section2 p{
	
	background-color:white;
	border-radius: 8px;
	opacity: 0.9;
}




#section2 img{
	width: 100%;
}
#section2 .container1 {
	flex: 1;
	margin: 2%;

}
#section2 .container2 {
flex: 2;
	
}
#section2 .container3 {
flex: 1;
margin: 2%;

	
}

/*-----------------------------------------------------*/

#section3 .page{

	display: flex;
	align-items: center;
	justify-content: center;

	/*flex-direction: column;*/
	color: #ffffff;
	background-size:100% 100vh;
	background-image:url(../img/jaco.jpg);

}

#section3 h2 {
	font-size: 400%;
	text-align:center;
}
#section3 img{
	width: 100%;
}
#section3 .container1 {
	flex: 1;
	margin: 2%;
}
#section3 .container2 {
flex: 2;
	
}
#section3 .container3 {
flex: 1;
margin: 2%;

	
}







/*-----------------------------------------------------*/
#section4 .page{

	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background-size:100% 100vh;
	background-image:url(../img/marcus.jpeg);
}
#section4 h2 {
	font-size: 400%;
	text-align:center;
}
#section4 img{
	width: 100%;
}
#section4 .container1 {
	flex: 1;
	margin: 2%;
}
#section4 .container2 {
flex: 2;
	
}
#section4 .container3 {
flex: 1;
margin: 2%;	
}

#section4 h2 span, #section4 p{
	
	background-color:black;
	border-radius: 8px;
	opacity: 0.9;
}

@media screen and (max-width: 768px)
{
	.page {
		flex-direction: column;
	}

	.container1, .container3, .container4{
		order:1;
	}
	/*.container3 {
		order:1;
	}*/

	#section2 img{
	display:flex;
	margin:0 auto;
	width: 50%;
}
#section3 img{
	display:flex;
	margin:0 auto;
	width: 50%;
}
#section4 img{
	display:flex;
	margin:0 auto;
	width: 50%;
}

#section1 h1 {
	text-align: center;}
}
